apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: me-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/ni2faa/me.git
    targetRevision: feat/infra
    path: infra/manifests
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=false
