name: Docker Build and Push

on:
  push:
    branches:
      - main
      - feat/infra

env:
  REGISTRY_HOST_IP: ${{ secrets.REGISTRY_HOST_IP }}      # or read from secrets if you want
  REGISTRY_PORT: 5000
  REGISTRY_HOST: ${{ secrets.REGISTRY_HOST_IP }}:${{ secrets.REGISTRY_PORT }}
  IMAGE_NAME: ${{ github.repository }} # like ni2faa/me

jobs:
  build-and-push:
    runs-on: self-hosted
    environment: production
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set image tag
        id: vars
        run: |
          TAG="${GITHUB_SHA::7}"
          echo "TAG=$TAG" >> "$GITHUB_OUTPUT"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ env.REGISTRY_HOST }}/${{ env.IMAGE_NAME }}:${{ steps.vars.outputs.TAG }}
            ${{ env.REGISTRY_HOST }}/${{ env.IMAGE_NAME }}:latest
