name: Docker Build and Push

on:
  push:
    branches:
      - main
      - feat/infra

env:
  REGISTRY_HOST_IP: ${{ secrets.REGISTRY_HOST_IP || '192.168.1.100' }}
  REGISTRY_PORT: 5000

  IMAGE_NAME: ${{ github.repository }}
  REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME || 'admin' }}
  REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD || 'admin' }}

jobs:
  build-and-push:
    runs-on: self-hosted
    environment: production
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Compose registry host
        run: echo "REGISTRY_HOST=${REGISTRY_HOST_IP}:${REGISTRY_PORT}" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY_HOST }}
          username: ${{ env.REGISTRY_USERNAME }}
          password: ${{ env.REGISTRY_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ env.REGISTRY_HOST }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
            ${{ env.REGISTRY_HOST }}/${{ env.IMAGE_NAME }}:latest